<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MaximumAmountAllowed" value="100"/>
		<add key="MinimumAmountAllowed" value="20"/>
		<add key="MaximumExceedanceAllowed" value="0.5"/>
		<add key="ValidityInSeconds" value="3600"/>
		<add key="TimerIntervalInSeconds" value="360"/>
	</appSettings>
</configuration>